<header class="header">
  <%= image_tag 'logos/Logo 1.png' %>

  <div class="links-menu-container">
    <svg id="menu-icon" class="menu-icon" width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M30.6389 4.38878H1.36111C0.885533 4.38878 0.5 4.00325 0.5 3.52767V1.80545C0.5 1.32987 0.885533 0.944336 1.36111 0.944336H30.6389C31.1145 0.944336 31.5 1.32987 31.5 1.80545V3.52767C31.5 4.00325 31.1145 4.38878 30.6389 4.38878ZM31.5 13.8612V12.1389C31.5 11.6634 31.1145 11.2778 30.6389 11.2778H1.36111C0.885533 11.2778 0.5 11.6634 0.5 12.1389V13.8612C0.5 14.3367 0.885533 14.7223 1.36111 14.7223H30.6389C31.1145 14.7223 31.5 14.3367 31.5 13.8612ZM31.5 22.4722V24.1944C31.5 24.67 31.1145 25.0555 30.6389 25.0555H1.36111C0.885533 25.0555 0.5 24.67 0.5 24.1944V22.4722C0.5 21.9966 0.885533 21.611 1.36111 21.611H30.6389C31.1145 21.611 31.5 21.9966 31.5 22.4722Z" fill="#07484A"/>
    </svg>
    <div class="links-container">
      <span id="" class="link"><a href="/">Home</a></span>
      <span id="products" class="link"><a href="/products">products</a></span>
      <span id="categories" class="link"><a href="/categories">Categories</a></span>
      <span id="about" class="link"><a href="/about">About</a></span>
      <span id="contact_us" class="link"><a href="/contact_us">Contact Us</a></span>
    </div>
  </div>
  <div class="icons-container">
    <span class="search">
      <label for="search">
      <svg id="search-icon" width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8086 19.1848L26.8075 25.1909C27.0754 25.4888 27.0622 25.945 26.7775 26.2269L25.7277 27.278C25.5869 27.4201 25.3952 27.5001 25.1953 27.5001C24.9953 27.5001 24.8037 27.4201 24.6629 27.278L18.664 21.2719C18.4981 21.1056 18.3475 20.9247 18.2141 20.7313L17.0893 19.2298C15.2282 20.7177 12.9171 21.5278 10.5355 21.5271C5.62785 21.5442 1.36328 18.1547 0.266542 13.3654C-0.830192 8.57602 1.53362 3.66501 5.95852 1.5398C10.3834 -0.585405 15.6885 0.64237 18.733 4.49625C21.7774 8.35013 21.7488 13.8016 18.664 17.6232L20.1637 18.6592C20.3979 18.8093 20.6143 18.9856 20.8086 19.1848ZM3.03678 11.0164C3.03678 15.1628 6.39402 18.5241 10.5354 18.5241C12.5241 18.5241 14.4314 17.7331 15.8377 16.3251C17.2439 14.9172 18.034 13.0076 18.034 11.0164C18.034 6.87008 14.6767 3.5088 10.5354 3.5088C6.39402 3.5088 3.03678 6.87008 3.03678 11.0164Z" fill="#07484A"/>
      </svg>
      <input id="search-field" name="search" type="text" placeholder="Search">
      </label>
    </span>
    <span>
    <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.022 3.20002H26.325C26.6978 3.20002 27 3.50223 27 3.87502V4.55002C26.9902 5.67036 26.6877 6.76868 26.1225 7.73602L22.95 13.3115C22.2635 14.5454 20.9732 15.3216 19.5615 15.35H11.151C10.8592 15.3437 10.5692 15.303 10.287 15.2285L8.937 18.05H23.625C23.9978 18.05 24.3 18.3522 24.3 18.725V20.075C24.3 20.4478 23.9978 20.75 23.625 20.75H6.75C6.38055 20.7586 6.03504 20.5678 5.8455 20.2505L5.5485 19.7375C5.39241 19.4371 5.39241 19.0795 5.5485 18.779L8.0595 13.784C7.92237 13.6392 7.80025 13.4809 7.695 13.3115L1.917 3.20002H0.675C0.302208 3.20002 0 2.89781 0 2.52502V1.17502C0 0.802229 0.302208 0.500021 0.675 0.500021H1.917C2.88545 0.496177 3.78178 1.01131 4.266 1.85002L5.022 3.20002ZM8.1 22.1C6.60883 22.1 5.4 23.3089 5.4 24.8C5.4 26.2912 6.60883 27.5 8.1 27.5C9.59117 27.5 10.8 26.2912 10.8 24.8C10.8 23.3089 9.59117 22.1 8.1 22.1ZM24.3 24.8C24.3 26.2912 23.0912 27.5 21.6 27.5C20.1088 27.5 18.9 26.2912 18.9 24.8C18.9 23.3089 20.1088 22.1 21.6 22.1C23.0912 22.1 24.3 23.3089 24.3 24.8Z" fill="#07484A"/>
    </svg>
  </span>
    <span>
  <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M13 0.5C5.8203 0.5 0 6.3203 0 13.5C0 20.6797 5.8203 26.5 13 26.5C20.1797 26.5 26 20.6797 26 13.5C26 10.0522 24.6304 6.74558 22.1924 4.30761C19.7544 1.86964 16.4478 0.5 13 0.5ZM13 4.39995C15.1539 4.39995 16.9 6.14604 16.9 8.29995C16.9 10.4539 15.1539 12.2 13 12.2C10.8461 12.2 9.1 10.4539 9.1 8.29995C9.1 6.14604 10.8461 4.39995 13 4.39995ZM12.9997 22.5829C15.8793 22.5829 18.589 21.2199 20.3057 18.908C20.5718 18.5192 20.6066 18.0168 20.3967 17.595L20.0977 16.984C19.4436 15.649 18.0874 14.802 16.6007 14.8H9.39875C7.89091 14.8016 6.51909 15.6723 5.87575 17.036L5.60275 17.608C5.39801 18.0264 5.43273 18.5223 5.69375 18.908C7.41048 21.2199 10.1202 22.5829 12.9997 22.5829Z" fill="#07484A"/>
  </svg>
</span>

  </div>
</header>
<script>
    $(document).ready(function () {
        if ($( window ).width() < 1920){
            console.log('inside')
            $('#menu-icon').on('click', function(event){
              let linksContainer = $('.links-container');
              linksContainer.slideToggle(100);
              linksContainer.css('display', 'flex');
              // if (linksContainer.width() === 0){
              //     linksContainer.animate({padding: '10px 2px 250px 2px', height: 'auto', width: 'auto', display: 'flex'})
              // } else {
              //     linksContainer.animate({padding: '0', height: '0', width: '0', display: 'none'})
              // }
            })
        }
        if ($(window).width() >= 1920){
            var currentPath = $(location).attr('pathname');
            $(".link").each(function () {
                var linkPath = $(this).find('a').attr("href");
                if (linkPath === currentPath) {
                    $(this).find('a').addClass("active");
                }
            });
        }
        $('#search-icon').on('click', function (event) {
            event.stopPropagation();
            event.preventDefault();
            let searchInput = $('#search-field')
            if (searchInput.width() === 0) {
                searchInput.css('transition', 'width 1s ease-in-out 100ms, left 1.3s ease-out, padding 1s ease-in-out 100ms')
                if ($(window).width() >= 768) {
                    searchInput.animate({width: '170px', left: '-180px', padding: '5px 0 5px 10px'});
                } else {
                    searchInput.animate({width: '150px', left: '-40px', top: '65px', padding: '7px 0 7px 10px'});
                }
            } else {
                searchInput.css('transition', 'width 0.5s ease-in, left 1.3s ease-out 100ms, padding 0.5s ease-in, top 500ms linear 1.05s')
                searchInput.animate({width: '0', left: '-10px', padding: '5px 0', top: '50%'});
            }
        })
        // $('.link').click(function (event) {
        //     event.stopPropagation();
        //     // event.preventDefault();
        //     console.log('here', $(this));
        //     $(this).siblings().removeClass('active');
        //     $(this).addClass('active');
        // }
        // )
    })
</script>